.learnMore {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 125%;
  font-weight: 600;
}
.vectorIcon {
  position: relative;
  width: 19.16px;
  height: 18.83px;
}
.getFreeEstimate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.button,
.button1 {
  display: flex;
  flex-direction: column;
}
.button1 {
  border-radius: var(--br-lg);
  background-color: var(--blue);
  box-shadow: 0 10px 20px rgba(192, 192, 192, 0.35);
  padding: var(--padding-7xl) var(--padding-12xl);
  align-items: center;
  justify-content: center;
}
.button {
  width: 277px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--b1-size);
  color: var(--color-white);
  font-family: var(--b1);
}
